{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.body }}</p>
    <hr>
    <a href="/">Go Back</a>
{% endblock %}